@import './base.css';
.background-primary {
  background-color: #dd671d;
}

.background-secondary {
  background-color: #f2f2f2;
}

.hero,
.section {
  position: relative;
}

.hero {
  min-height: 300px;
}

.hero-background,
.section-background,
.hero-overlay,
.section-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-background img,
.section-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay,
.section-overlay {
  opacity: 0.5;
  background-color: #000;
}

.hero-foreground,
.section-foreground {
  position: relative;
  min-height: inherit;
  padding: 40px 0;
}

.section-body {
  padding: 30px 0;
}

.section-brand {
  min-height: 200px;
}

.section-brand .section-background::before,
.section-brand .section-background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #dd671d;
}

.section-brand .section-background::before {
  right: 50%;
  transform: skewY(8deg);
  transform-origin: bottom right;
}

.section-brand .section-background::after {
  left: 50%;
  transform: skewY(-8deg);
  transform-origin: bottom left;
}

.section-brand .section-foreground {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.container-small {
  max-width: 700px;
}

.content {
  max-width: 700px;
}

.content:not(:first-child) {
  margin-top: 60px;
}

.lead {
  font-size: 1.4rem;
}

.is-center {
  margin-left: auto;
  margin-right: auto;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.card {
  position: relative;
}

.card-icon {
  font-size: 60px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2rem;
}

.card-title:not(:first-child) {
  margin-top: 18px;
}

.card-feature {
  text-align: center;
}

.card-feature .card-icon {
  color: #dd671d;
}

.card-info {
  text-align: center;
}

.hr-info::before,
.hr-info::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: inherit;
  top: 50%;
  transform: translateY(-50%);
}

.hr-info::before {
  left: 0;
}

.hr-info::after {
  right: 0;
}

.heading {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.heading:not(:last-child) {
  margin-bottom: 60px;
}

.heading-secondary {
  max-width: 1200px;
  margin: auto;
  font-size: 8vw;
  line-height: 1;
  display: flex;
  align-items: center;
  color: #f2f2f2;
  opacity: 0.8;
}

.heading-secondary .heading-count {
  margin-right: 0.2em;
  font-size: 2.3em;
  line-height: 1;
}

.heading-tertiary {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
}

.grid>.grid-item {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  min-width: 140px;
  flex: 1;
  flex-basis: 1px;
  position: relative;
}

.grid-divider {
  flex-grow: 1;
  height: 2px;
  background-color: #ccc;
  align-self: center;
  position: relative;
  min-width: 30px;
  display: none;
}

.grid-divider::before,
.grid-divider::after {
  content: '';
  position: absolute;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: inherit;
}

.grid-divider::before {
  left: 0;
}

.grid-divider::after {
  right: 0;
}

.grid-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.grid-content>.grid-item {
  min-width: 200px;
}

.logo {
  max-width: 360px;
  padding: 15px;
  flex-grow: 1;
}

.logo img {
  width: 100%;
  display: block;
}

.form-group:not(:last-child) {
  margin-bottom: 20px;
}

.button {
  cursor: pointer;
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .1s ease-in-out;
  transition-property: color,background-color,border-color;

  background-color: #dd671d;
  color: #fff;
  border: 1px solid transparent;
}

.button:hover, .button:focus {
  background-color: #d66015;
  color: #fff;
  outline: none;
}

.input,.select,.textarea {
  font: inherit;
  max-width: 100%;
  width: 100%;
  border: 0 none;
  padding: 0 10px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  transition: .2s ease-in-out;
  transition-property: color,background-color,border
}

.input,.select:not([multiple]):not([size]) {
  height: 50px;
  vertical-align: middle;
  display: inline-block
}

.input:not(input),.select:not(select) {
  line-height: 38px
}

.select[multiple],.select[size],.textarea {
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: top
}

.input:focus,.select:focus,.textarea:focus {
  outline: none;
  background-color: #fff;
  color: #666;
  border-color: #1e87f0
}

.input:disabled,.select:disabled,.textarea:disabled {
  background-color: #f8f8f8;
  color: #999;
  border-color: #e5e5e5
}

.input:-ms-input-placeholder {
  color: #999 !important
}

.input::placeholder {
  color: #999
}

.textarea:-ms-input-placeholder {
  color: #999 !important
}

.textarea::placeholder {
  color: #999
}

.form-contact {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.form-actions {
  margin-top: 30px;
  text-align: center;
}

.section-contact {
  padding: 50px 0;
  background-color: #f2f2f2;
}

.section-about-second {
  background-color: #f2f2f2;
}

.is-inverse {
  color: #fff;
}

.is-inverse h1,
.is-inverse h2,
.is-inverse h3,
.is-inverse h4,
.is-inverse h5,
.is-inverse h6 {
  color: inherit;
}

.section-items svg {
  max-width: 100%;
  height: auto;
  margin: 0 0 30px 0;
  font-family: 'Quicksand', sans-serif;
}

.section-items > :nth-child(2) {
  padding-left: 35px;
  padding-right: 35px;
}

.content-svg {
  margin-bottom: 60px;
}

.content-svg-second {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (min-width: 640px) {
  .hero-foreground,
  .section-foreground {
    padding: 80px 0;
  }

  .section-body {
    padding: 60px 0;
  }

  .section-brand {
    min-height: 400px;
  }
  
  .card-icon {
    font-size: 100px;
  }
  
  .heading {
    font-size: 36px;
  }

  .heading-tertiary {
    text-align: right;
  }

  .heading-tertiary {
    margin-bottom: 80px;
  }

  .content-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .content-item:nth-child(odd) {
    margin-left: calc((100vw - 100%) / -4);
    margin-right: calc((100vw - 100%) / 4);
  }
  
  .content-item:nth-child(even) {
    margin-right: calc((100vw - 100%) / -4);
    margin-left: calc((100vw - 100%) / 4);
  }

  .section-items > :not(:last-child) {
    margin-bottom: 60px;
  }

  .section-items > :nth-child(2) svg {
    margin-bottom: 100px;
  }

  .section-contact {
    padding: 100px 0;
  }

  .content-svg {
    margin-top: -10%;
    margin-bottom: 120px;
  }

  .content-svg-second {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .hero {
    min-height: 720px;
  }
  
}