@import './base.css';
.background-primary {
  background-color: #dd671d;
}

.background-secondary {
  background-color: #f2f2f2;
}

.hero,
.section {
  position: relative;
}

.hero {
  min-height: 300px;
}

.hero-background,
.section-background,
.hero-overlay,
.section-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-background img,
.section-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay,
.section-overlay {
  opacity: 0.5;
  background-color: #000;
}

.hero-foreground,
.section-foreground {
  position: relative;
  min-height: inherit;
  padding: 40px 0;
}

.section-body {
  padding: 30px 0;
}

.section-brand {
  min-height: 200px;
}

.section-brand .section-background::before,
.section-brand .section-background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #dd671d;
}

.section-brand .section-background::before {
  right: 50%;
  transform: skewY(8deg);
  transform-origin: bottom right;
}

.section-brand .section-background::after {
  left: 50%;
  transform: skewY(-8deg);
  transform-origin: bottom left;
}

.section-brand .section-foreground {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.container-small {
  max-width: 700px;
}

.content {
  max-width: 700px;
}

.content:not(:first-child) {
  margin-top: 60px;
}

.lead {
  font-size: 1.4rem;
}

.is-center {
  margin-left: auto;
  margin-right: auto;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.card {
  position: relative;
}

.card-icon {
  font-size: 60px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2rem;
}

.card-title:not(:first-child) {
  margin-top: 18px;
}

.card-feature {
  text-align: center;
}

.card-feature .card-icon {
  color: #dd671d;
}

.card-info {
  text-align: center;
}

.heading {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.heading:not(:last-child) {
  margin-bottom: 60px;
}


.heading-secondary {
  max-width: 1200px;
  margin: auto;
  font-size: 8vw;
  line-height: 1;
  display: flex;
  align-items: center;
  color: #f2f2f2;
  opacity: 0.8;
}

.heading-secondary .heading-count {
  margin-right: 0.2em;
  font-size: 2.3em;
  line-height: 1;
}

.heading-tertiary {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
}

.grid>* {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  min-width: 140px;
  flex: 1;
  flex-basis: 1px;
  position: relative;
}

.grid-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.grid-content>* {
  min-width: 200px;
}

.logo {
  max-width: 360px;
  padding: 15px;
  flex-grow: 1;
}

.logo img {
  width: 100%;
  display: block;
}

.is-inverse {
  color: #fff;
}

.is-inverse h1,
.is-inverse h2,
.is-inverse h3,
.is-inverse h4,
.is-inverse h5,
.is-inverse h6 {
  color: inherit;
}

@media (min-width: 640px) {
  .hero-foreground,
  .section-foreground {
    padding: 80px 0;
  }
  .section-body {
    padding: 60px 0;
  }
  .section-brand {
    min-height: 400px;
  }
  .card-icon {
    font-size: 100px;
  }
  .heading {
    font-size: 36px;
  }
  .heading-tertiary {
    text-align: right;
  }
}